h1 {
	float: left;
}

.icon {
	float: left;
	width: 100px;
	height: 100px;
	background-image: url(../assets/images/webpack.png);
	background-size: contain;
}

ul {
	clear: both;
	background-color: #FFF7D4;
	
	li {
		transition: all 5s linear;
		color: blue; 
	}
}
